body {
  position: relative;
  display: block;
  width: 100vw;
  min-width: 680px;
  max-width: 100vw;
  height: 100vh;
  min-height: 360px;
  max-height: 100vh;
  padding: 40px;
  background-image: url('/img/light_theme_bg.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.3s;
}
body.darkTheme {background-image: url('/img/dark_theme_bg.jpeg');}

body > main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(251,251,253,0.4);
  border-radius: 12px;
  overflow: hidden;
  -webkit-backdrop-filter: saturate(180%) blur(4px);
  backdrop-filter: saturate(180%) blur(4px);
  background-color: rgba(251,251,253,0.6);
  box-shadow:  20px 20px 60px rgba(20,20,40,0.1), -20px -20px 60px rgba(20,20,40,0.1);
  transition: all 0.3s;
}
body.darkTheme > main {
  border-color: rgba(40,40,60,0.2);
  background-color: rgba(40,40,60,0.6);
  box-shadow:  none;
}