@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  :after,
  :before {
    -webkit-tap-highlight-color: rgba(180, 190, 200, 0.2) !important;
  }
  *::selection {
    background-color: rgba(180, 190, 200, 0.2) !important;
  }

  :root {
    --grsc-000: #ffffff;
    --grsc-100: #eef1f3;
    --grsc-200: #d8dfe3;
    --grsc-300: #a9b5bc;
    --grsc-400: #94a1a8;
    --grsc-500: #727e84;
    --grsc-600: #54595b;
    --grsc-700: #323539;
    --grsc-800: #232629;
    --grsc-900: #131517;

    --dimmed-background: rgba(0, 0, 10, 0.3);

    /* ckeditor5 */
    --ck-color-base-text: #323539;
    --ck-color-button-on-color: #3b84d8;
    --ck-color-button-cancel: #e14b4d;
    --ck-color-button-save: #28c28b;
    --ck-color-link-default: var(--ck-color-button-on-color);

    --ck-todo-list-checkmark-size: 18px;
  }

  html {
    @apply h-dvh max-h-[100vh] min-h-[22.5rem] w-[100vw] min-w-[64rem] max-w-[100vw];
  }

  body {
    @apply relative block size-full bg-[#eef1f3] bg-light bg-cover bg-center bg-no-repeat p-8 text-gray700 transition-colors;
  }

  body.dark {
    --grsc-000: #232629;
    --grsc-100: #323539;
    --grsc-200: #323539;
    --grsc-300: #54595b;
    --grsc-400: #727e84;
    --grsc-500: #94a1a8;
    --grsc-600: #a9b5bc;
    --grsc-700: #d8dfe3;
    --grsc-800: #eef1f3;
    --grsc-900: #eef1f3;

    --dimmed-background: rgba(250, 250, 255, 0.1);

    @apply bg-[#131517] bg-dark;
  }

  body > main {
    @apply relative flex size-full items-stretch justify-between overflow-hidden rounded-xl border;
    border-color: rgba(251, 251, 253, 0.4);
    background-color: rgba(251, 251, 253, 0.6);
    -webkit-backdrop-filter: saturate(180%) blur(4px);
    backdrop-filter: saturate(180%) blur(4px);
    box-shadow:
      1.25rem 1.25rem 3.75rem rgba(20, 20, 40, 0.1),
      -1.25rem -1.25rem 3.75rem rgba(20, 20, 40, 0.1);
  }

  body.dark > main {
    border-color: rgba(40, 40, 60, 0.2);
    background-color: rgba(40, 40, 60, 0.6);
    box-shadow: none;
  }

  body.stop-scroll {
    @apply touch-none overflow-hidden;
  }

  body.dark {
    /* ckeditor5 */
    --ck-custom-background: var(--grsc-100);
    --ck-custom-foreground: var(--grsc-200);
    --ck-custom-border: var(--grsc-300);
    --ck-custom-white: var(--grsc-700);

    --ck-color-base-foreground: var(--ck-custom-background);
    --ck-color-focus-border: hsl(208, 90%, 62%);
    --ck-color-text: var(--ck-custom-white);
    --ck-color-shadow-drop: hsla(0, 0%, 0%, 0.2);
    --ck-color-shadow-inner: hsla(0, 0%, 0%, 0.1);

    --ck-color-button-default-background: var(--ck-custom-background);
    --ck-color-button-default-hover-background: var(--ck-custom-border);
    --ck-color-button-default-active-background: var(--ck-custom-border);
    --ck-color-button-default-active-shadow: var(--ck-custom-border);
    --ck-color-button-default-disabled-background: var(--ck-custom-background);

    --ck-color-button-on-background: var(--ck-custom-foreground);
    --ck-color-button-on-hover-background: var(--ck-custom-border);
    --ck-color-button-on-active-background: var(--ck-custom-border);
    --ck-color-button-on-active-shadow: var(--ck-custom-border);
    --ck-color-button-on-disabled-background: var(--ck-custom-foreground);

    --ck-color-dropdown-panel-background: var(--ck-custom-background);
    --ck-color-dropdown-panel-border: var(--ck-custom-foreground);

    --ck-color-split-button-hover-background: var(--ck-color-button-default-hover-background);
    --ck-color-split-button-hover-border: var(--ck-custom-foreground);

    --ck-color-input-background: var(--ck-custom-background);
    --ck-color-input-border: var(--ck-custom-border);
    --ck-color-input-text: var(--ck-custom-white);

    --ck-color-labeled-field-label-background: var(--ck-custom-background);

    --ck-color-panel-background: var(--ck-custom-background);
    --ck-color-panel-border: var(--ck-custom-border);

    --ck-color-toolbar-background: var(--ck-custom-background);
    --ck-color-toolbar-border: var(--ck-custom-border);

    --ck-color-tooltip-background: rgb(20, 20, 30);
    --ck-color-tooltip-text: var(--ck-custom-white);

    --ck-color-dialog-background: var(--grsc-000);
    --ck-color-dialog-form-header-border: var(--ck-custom-background);
    --ck-color-base-border: var(--ck-custom-background);
  }

  noscript {
    @apply flex size-full flex-col flex-nowrap items-center justify-center p-6 text-center text-lg font-medium leading-snug text-warn;
  }

  noscript > svg {
    @apply mb-3 text-4xl;
  }
}

@layer components {
  .hidden-text {
    @apply absolute m-0 size-px overflow-hidden whitespace-nowrap border-none p-0 text-[2px] outline-none;
    clip: rect(1px 1px 1px 1px);
  }

  /* ckeditor5 */
  .editor-wrapper {
    h1 {
      @apply !mt-3 mb-2 text-lg font-bold;
    }
    ol,
    ul {
      @apply pl-7;
    }
    blockquote {
      @apply border-gray300 px-4 transition-colors;
    }
    .ck .ck-widget {
      @apply -outline-offset-2;
    }
    .ck-content {
      @apply space-y-1;
    }
    .ck-content .image-inline {
      @apply xl:!max-w-[80%];
    }
    .ck-content hr {
      @apply h-px bg-gray200 transition-colors;
    }
    .ck-content pre {
      @apply rounded border-gray200 bg-gray100 text-gray700 transition-colors dark:border-gray300;
    }
    .ck-content code:not(pre *) {
      @apply rounded border border-gray200 bg-gray100 px-1 py-0.5 text-gray700 transition-colors dark:border-gray300;
    }
    .ck.ck-editor__editable pre[data-language]::after {
      @apply hidden;
    }
    & > div {
      @apply !border-none !shadow-none;
    }
    .ck-editor__editable_inline {
      @apply min-h-full;
    }
    .ck .ck-placeholder::before,
    .ck.ck-placeholder::before {
      @apply text-gray300 transition-colors;
    }
    .ck-editor__editable.ck-content
      .todo-list
      .todo-list__label
      > span[contenteditable='false']
      > input::before {
      @apply !border-gray300 transition-colors;
    }
    .ck-editor__editable.ck-content
      .todo-list
      .todo-list__label
      > span[contenteditable='false']
      > input[checked]::before {
      @apply !border-info !bg-info;
    }
  }
}

/* ckeditor5 */
.ck.ck-powered-by {
  display: none !important;
}
.ck.ck-balloon-panel.ck-powered-by-balloon[class*='position_border'] {
  border: none !important;
}
